@font-face {
  font-family: monoid;
  src: url(../media/monoid-regular-webfont.woff);
}

:root {
  --subtle-gray: #ccc;
}

body {
  font-family: monoid, monospace;
  font-size: 100%;
}

.compact {
  min-width: 600px;
  max-width: 50%;
}

#tab-info {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: bold;
  font-size: 115%;
  color: blue;
}

button {
  border-radius: 4px;
  border: 1px solid var(--subtle-gray);
}

button.specific {
  font-size: 75%;
  width: 100%;
}

button.delete {
  margin-left: 2em;
}

thead {
  border-bottom: 2px solid var(--subtle-gray);
  font-size: 110%;
}
thead:after {
  line-height: 0.3em;
  content: "\200C";
  display: block;
}

tbody:before {
  line-height: 0.4em;
  content: "\200C";
  display: block;
}

tbody {
  padding-top: 2em;
  border-bottom: 2px solid var(--subtle-gray);
}

tbody:after {
  line-height: 0.5em;
  content: "\200C";
  display: block;
}

td.link {
  padding-left: 2em;
  padding-right: 2em;
  min-width: 15%;
}

td.remaining {
  padding-right: 1em;
  padding-left: 2em;
  text-align: center;
}

td.expiry {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.amber {
  color: rgba(200, 200, 0, 255);
}

.red {
  color: rgba(255, 0, 0, 255);
}

.rounded {
  padding: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 3px;
}
